a:hover {
    color: #737373;
    transform: scale(1.1);
}

a:active {
    text-decoration: line-through;
    color: #737373;
}

a:focus {
    color: #999999;
}

a:visited {
    color: #999999;
}

body {
    background-color: #fff0db;
    color: black;
    text-align: center;
    margin: 0;
}

.AddForm {
    display: table;
    margin: auto;
}

h4 {
    font-family: 'LatoRegular';
    font-weight: normal;
    font-style: normal;
}

h2 {
    font-family: 'LatoRegular';
    font-weight: normal;
    font-style: normal;
}

html, body {
    font-family: 'LatoRegular';
    font-weight: normal;
    font-style: normal;
}

.ParagraphForm {
    display: table-row;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'K1FSRegular';
    font-weight: normal;
    font-style: normal;
}

h5 {
    font-family: 'K1FSRegular';
    font-weight: normal;
    font-style: normal;
}

p {
    font-family: 'K1FSRegular';
    font-weight: normal;
    font-style: normal;
    text-align: center;
}

.FormCell {
    display: table-cell;
    justify-content: center;
    align-items: center;
}

.table {
    margin-left: auto;
    margin-right: auto;
    border: solid;
    border: 1px;
    border-radius: 3px;
    border-color: black;
    border-spacing: 2px;
    background-color: #EDD1B0;
}

td {

    background-color: #EDD1B0;
}

tr {
    border-bottom: 1px solid black;
    background-color: #EDD1B0;
}

td:hover {
    background-color: #D6EEEE;
}

th {
    border: 1px solid black;
}

textarea {
    resize: none;
}
