a:hover {
    color: #737373;
    transform: scale(1.1);
}

a:active {
    text-decoration: line-through;
    color: #737373;
}

a:focus {
    color: rgb(244,204,204);
}

a:visited {
    color: rgb(244,204,204);
}

body {
    background-color: #fff0db;
    color: black;
    text-align: center;
    margin: 0;
}
.AddForm{
    display: table;
}
.ParagraphForm{
    display: table-row;
}
.FormCell{
    display: table-cell;
}
.table {
    margin-left: auto;
    margin-right: auto;
    border: solid;
    border-spacing: 1px;
    background-color: #EDD1B0;
}

td {
    border: 1px solid black;
    background-color: #EDD1B0;
}

tr {
    border: 1px solid black;
    background-color: #EDD1B0;
}
th {
    border: 1px solid black;
}

textarea {
    resize: none;
}